@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h2>Thanks! Your time has been booked!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>